extends layout

block content
    div(class='row form-search')
        div(class='col-xs-10 col-xs-offset-1')
            div(class='input-group')
                input(type='text', disabled, class='form-control', placeholder='Select date...', id='date')
                div(class='input-group-btn')
                    a(class='btn btn-default', id="search", data-date-format="yyyy-mm-dd" data-date="")= "Select date"

    div(id='messages')

block extra_styles
    link(rel='stylesheet', href='datepicker/css/datepicker.css')

block extra_scripts
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='datepicker/js/bootstrap-datepicker.js')
    script(src='archive.js')
