doctype html
html
    head
        title= title + " - " + subtitle
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=0.60')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700')
        link(rel='stylesheet', href='style.css')
        block extra_styles
    body
        div(class='container')
            // nav
            nav(class='navbar navbar-default navbar-fixed-top')
                div(class='container')
                    a(href='#', class='navbar-brand')= '#titandev'
                    ul(class='nav navbar-nav')
                        li(class=(subtitle == "Live" ? "active" : ""))
                            a(href='/')= "Live"
                        li(class=(subtitle == "Archive" ? "active" : ""))
                            a(href='/archive')= "Archive"
                        li(class=(subtitle == "Search" ? "active" : ""))
                            a(href='/search')= "Search"
                        li(class=(subtitle == "Statistics" ? "active" : ""))
                            a(href='/stats')= "Statistics"
                    ul(class='nav navbar-nav pull-right')
                        block extra_buttons

            // content
            div(class='well')
                block content

            script(src='https://code.jquery.com/jquery-2.1.4.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.3/sprintf.min.js')
            script(src='global.js')
            block extra_scripts