extends layout

block content
    div(id='messages')

block extra_buttons
    a(href='#', class='btn btn-danger', id='autoscroll')= "Autoscroll"

block extra_scripts
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='live.js')