extends layout

block content
    div(class='row form-search')
        div(class='col-xs-10 col-xs-offset-1')
            div(class='input-group')
                input(type='text', class='form-control', placeholder='Search...', id='query')
                div(class='input-group-btn')
                    a(class='btn btn-default', id="search")= "Search"

    div(id='messages')

block extra_scripts
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='search.js')
