extends layout

block content
    table(class='table table-condensed')
        thead
            th= "All actions"
            th= "Messages count"
            th= "Actions count"
            th= "Joins count"
            th= "Quits count"
            th= "Kicks count"
            th= "Nicknames count"
        tbody
            tr
                td= stats[1][0]["all_actions"]
                td= stats[1][0]["messages"]
                td= stats[1][0]["actions"]
                td= stats[1][0]["joins"]
                td= stats[1][0]["quits"]
                td= stats[1][0]["kicks"]
                td= stats[1][0]["nicks"]

    table(class='table table-condensed')
        thead
            th= "#"
            th= "Nick"
            th= "Messages count"
        tbody
            each value, row in stats[0]
                tr
                    td= row + 1
                    td= value["nick"]
                    td= value["messages"]