body {
    font-family: 'Droid Sans', sans-serif;
    background: url(bg.png) #222222;
}

div.well {
    margin-top: 70px;
    -webkit-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);
}

nav {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

#datetime {
    display: inline;
}

.datepicker {
    z-index: 1337;
}

.message {
    border-left: 1px solid #999999;
    word-wrap: break-word;
}

.nick {
    font-weight: bold;
}

.nick[action*="join"] {
    color: green;
}

.nick[action*="kick"], .nick[action*="quit"] {
    color: red;
}

.form-search {
    margin-bottom: 20px;
}

p.date {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 5px 0 5px -20px;
    padding-left: 20px;
    background: #363636;
    color: white;
    width: 105px;
}

.navbar-nav {
    margin:0;
}
.navbar-nav > li {
    float:none;
    display:inline-block;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav > li.open > ul.dropdown-menu {
    position: absolute;
    border: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

ul.pull-right {
    height: 0;
}

ul.nav > li {
    transform: skew(-20deg);
    background-color: #eeeeee;
}

ul.nav > li > a {
    transform: skew(20deg);
}

ul.nav > li.active {
    background-color: #e7e7e7;
}

ul.nav > li.active > a {
    background-color: transparent !important;
}

a#autoscroll {
    margin-top: -70px;
}

@media(min-width: 768px) {
    a#autoscroll {
        margin-top: 9px;
    }
}
